{% load static %}
<! DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profiles/css/onboarding.css' %}">

</head>
<body>
    <div class="form-wrapper">
        <h1>Step 4: your Bio</h1>
        <div class="progress-container">
            <div style="width: {{ progress }}%;"></div>
        </div>
        <p>{{ progress }}% complete</p>

        <form method="post">
            {% csrf_token %}
            <textarea name="bio" placeholder="Tell us about yourself..." rows="4" required></textarea>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>