{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding - birthday </title>
    <link rel="stylesheet" href="{% static 'profiles/css/onboarding.css' %}">
</head>
<body>
    <div class="form-wrapper">
        <h1>Step 3: Your Birthday </h1>

        <div class="progress-container">
            <div class="progress-bar" style="width: {{ progress }}%;"></div>
        </div>
        <p>{{ progress }}% complete</p>

        <form method="post">
            {% csrf_token %}
            <input type="date" required>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>